<mat-card class="login-card mat-elevation-z20">
  <img width="200" class="login-logo" alt="myBudget Logo" src="assets/save.svg"/>
  <mat-card-title>
    Log in
  </mat-card-title>

  <mat-card-content>
    <form class="login-form"
          [formGroup]="loginForm"
          novalidate
          (ngSubmit)="signInWithEmail(loginForm)">
      <mat-form-field color="primary" class="login-form-field">
        <input matInput
              type="text"
              placeholder="username"
              formControlName="username">
        <mat-icon matPrefix class="icon">account_circle</mat-icon>
        <mat-error *ngIf="loginForm.get('username')?.invalid">
          Min 4 characters
        </mat-error>
      </mat-form-field>

      <mat-form-field color="primary" class="login-form-field">
        <input matInput
              type="password"
              placeholder="password"
              formControlName="password">
        <mat-icon matPrefix class="icon">lock</mat-icon>
        <mat-error *ngIf="loginForm.get('password')?.invalid">
          Min 4 characters
        </mat-error>
      </mat-form-field>

      <mat-card-actions>
        <div fxLayout="row" fxLayoutAlign="center center">
          <button type="button"
                  mat-raised-button color="accent"
                  class="btn btn-login"
                  (click)="onRegister()">Register</button>

          <button type="submit"
                  mat-raised-button color="primary"
                  [disabled]="loginForm.pristine || loginForm.invalid || submitting"
                  class="btn btn-login">
             <span>Log In</span>
             <mat-spinner *ngIf="submitting" class="spinner" diameter="20"></mat-spinner>
          </button>
        </div>
        <div fxLayout="row" fxLayoutAlign="space-evenly center" class="login-socials">
          <button mat-raised-button color="primary" class="btn-login" (click)="signInWithGoogle()">
            Sign In with Google
          </button>
          <button mat-raised-button color="primary" class="btn-login" (click)="signInWithFB()">
            Sign In with Facebook
          </button>
        </div>
      </mat-card-actions>
    </form>
  </mat-card-content>
</mat-card>
