:host {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.login-card {
  flex: 1;
  margin: 0;
  position: relative;
}

.login-logo {
  position: relative;
  margin: 0 auto;
  display: block;
  width: 100px;
  box-shadow: 1px 4px 16px 0px rgba(0, 0, 0, 0.3),
              0 0 2px 0px rgba(0, 0, 0, 0.4);
  border-radius: 50%;
}

.mat-card-content > .login-form {
  display: flex;
  flex-direction: column;
  margin-top: 60px;
  font-size: 18px;
}

.login-form-field + .login-form-field {
  margin-top: 16px;
}

.login-form-field .icon {
  margin-right: 8px;
}

.card-actions {
  margin-top: 20px;

  .separator {
    margin: 20px 0;
    border-top: 1px solid #CCCCCC;
    position: relative;

    .separator-text {
      display: block;
      position: absolute;
      top: -10px;
      left: 50%;
      margin-left: -22px;
      padding: 0px 10px;
      background: #FFFFFF;
      color: #8a8a8a;
    }
  }

  .social-login {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    .social-button {
      height: 40px;
      width: 230px;
    }

    .google-button {
      margin-bottom: 10px;
    }

    .facebook-button {
      // Blue facebook
      background-color: #4267B2;
    }

    .container {
      display: flex;

      .logo {
        padding-left: 8px;
        margin-right: 24px;

        img {
          width: 18px;
          height: 18px;
          vertical-align: middle;
        }
      }

      .label {
        font-family: 'Roboto-Medium', 'Helvetica Neue', 'sans-serif';
        font-size: 14px;
        margin-right: 8px;
      }

      .label-facebook {
        color: #FFFFFF;
      }
    }
  }
}

.signin-button +
.signin-button {
  margin-left: 20px;
}

.spinner {
  margin-left: 8px;
}

.login-error {
  text-align: center;
  line-height: 30px;
  margin-bottom: 30px;
}

@media (min-width: 600px) {
  :host {
    display: initial;
  }

  .login-card {
    max-width: 600px;
    height: initial;
    margin: 100px auto 50px;
    position: relative;
    border-radius: 20px;
  }

  .login-logo {
    position: absolute;
    width: 140px;
    top: 0;
    left: 50%;
    transform: translateY(-50%)
               translateX(-50%);
  }
}
