:host {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.login-card {
  flex: 1;
  margin: 0;
  position: relative;
}

.login-logo {
  position: relative;
  margin: 0 auto;
  display: block;
  width: 100px;
  box-shadow: 1px 4px 16px 0px rgba(0, 0, 0, 0.3),
              0 0 2px 0px rgba(0, 0, 0, 0.4);
  border-radius: 50%;
}

.mat-card-content > .login-form {
  display: flex;
  flex-direction: column;
  margin-top: 60px;
  font-size: 18px;
}

.login-form-field + .login-form-field {
  margin-top: 16px;
}

.login-form-field .icon {
  margin-right: 8px;
}

.card-actions {
  margin-top: 20px;
}

.signin-button +
.signin-button {
  margin-left: 20px;
}

.login-socials {
  margin-top: 32px;
}

.spinner {
  margin-left: 8px;
}

.login-error {
  text-align: center;
  line-height: 30px;
  margin-bottom: 30px;
}

@media (min-width: 600px) {
  :host {
    display: initial;
  }

  .login-card {
    max-width: 600px;
    height: initial;
    margin: 100px auto 50px;
    position: relative;
    border-radius: 20px;
  }

  .login-logo {
    position: absolute;
    width: 140px;
    top: 0;
    left: 50%;
    transform: translateY(-50%)
               translateX(-50%);
  }
}
