<mat-card class="login-card mat-elevation-z20">
  <img width="200" class="login-logo" alt="myBudget Logo" src="assets/save.svg"/>
  <mat-card-title>
    <span class="mobile">Log in</span>
  </mat-card-title>

  <mat-card-content>
    <form class="login-form"
          [formGroup]="loginForm"
          novalidate
          (ngSubmit)="signInWithEmail(loginForm)">
      <mat-form-field color="primary" class="login-form-field">
        <input matInput
              type="text"
              placeholder="username"
              formControlName="username">
        <mat-icon matPrefix class="icon">account_circle</mat-icon>
        <mat-error *ngIf="loginForm.get('username')?.invalid && !!loginForm.get('username').value">
          Min 4 characters
        </mat-error>
      </mat-form-field>

      <mat-form-field color="primary" class="login-form-field">
        <input matInput
              type="password"
              placeholder="password"
              formControlName="password">
        <mat-icon matPrefix class="icon">lock</mat-icon>
        <mat-error *ngIf="loginForm.get('password')?.invalid && !!loginForm.get('password').value">
          Min 4 characters
        </mat-error>
      </mat-form-field>

      <mat-card-actions class="card-actions">
        <mat-error *ngIf="loginError" class="login-error">
          Username or password wrong
        </mat-error>

        <div class="flex-row flex-justify-content--center flex-align-items--center">
          <button type="button"
                  mat-raised-button color="accent"
                  class="btn signin-button"
                  (click)="onRegister()">Register</button>

          <button type="submit"
                  mat-raised-button color="primary"
                  [disabled]="loginForm.pristine || loginForm.invalid || submitting"
                  class="btn signin-button">
            <span *ngIf="!submitting">Log In</span>
            <mat-spinner *ngIf="submitting"
                         diameter="20"></mat-spinner>
          </button>
        </div>
        <div class="flex-row flex-justify-content--space-evenly flex-align-items--center login-socials">
          <button mat-raised-button
                  color="primary"
                  class="signin-button"
                  (click)="signInWithGoogle()">
            <mat-icon svgIcon="google_icon"></mat-icon>
            <span class="mobile">Sign In with Google</span>
          </button>
          <button mat-raised-button
                  color="primary"
                  class="signin-button"
                  (click)="signInWithFB()">
            <mat-icon svgIcon="facebook_icon"></mat-icon>
            <span class="mobile">Sign In with Facebook</span>
          </button>
        </div>
      </mat-card-actions>
    </form>
  </mat-card-content>
</mat-card>
