<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer
               class="sidenav"
               fixedInViewport="true"
               [attr.role]="isHandset ? 'dialog' : 'navigation'"
               [mode]="(isHandset | async)!.matches ? 'over' : 'side'"
               opened="false">

    <mat-toolbar color="primary">Menu</mat-toolbar>

    <mat-nav-list>
      <label> Account </label>
      <a mat-list-item (click)="drawer.close()" routerLink="home/new-account">New</a>
      <a mat-list-item (click)="drawer.close()" routerLink="home/edit-account">Edit</a>
      <a mat-list-item (click)="drawer.close()" routerLink="home/invite-users-account">Invite an User</a>
      <mat-divider></mat-divider>
      <label> Movimenti </label>
      <a mat-list-item (click)="drawer.close()" routerLink="home/movements">Find</a>
      <a mat-list-item (click)="drawer.close()" routerLink="home/scheduled-movements">Scheduled</a>
    <mat-divider></mat-divider>
      <a mat-list-item (click)="drawer.close()" routerLink="home/budgets">Budget</a>
      <a mat-list-item (click)="drawer.close()" routerLink="home/settings">Settings</a>
      <a mat-list-item (click)="logOut()">Log out</a>
    </mat-nav-list>

  </mat-sidenav>

  <mat-sidenav-content class="mat-drawer-container">
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <button type="button"
                aria-label="Toggle sidenav"
                mat-icon-button
                *ngIf="isLoggedIn$ | async"
                (click)="drawer.toggle()">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        <span class="title">{{ title }}</span>
        <span class="space"></span>
        <button *ngIf="isLoggedIn$ | async"
                mat-button
                (click)="logOut()">Log Out</button>
      </mat-toolbar-row>
    </mat-toolbar>

    <div class="app-container">
      <router-outlet></router-outlet>
    </div>

  </mat-sidenav-content>
</mat-sidenav-container>
