.space {
  flex: 1 1 auto;
}

.app-container {
  height: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.app-content {
  display: flex;
  flex-direction: column;
  flex: 1;
}
