<mat-card class="register-card mat-elevation-z20">
  <img width="200" class="register-logo" alt="myBudget Logo" src="assets/save.svg"/>
  <mat-card-title>
      Create your account
  </mat-card-title>

  <mat-card-content>
    <form class="register-form" [formGroup]="registerForm" novalidate (ngSubmit)="signInWithEmail(registerForm)">
      <mat-form-field color="primary" class="register-form-field">
        <input matInput type="text" placeholder="{{ 'REGISTER.USERNAME_PLACEHOLDER' }}" formControlName="username">
        <mat-icon matPrefix class="icon">account_circle</mat-icon>
        <mat-error *ngIf="registerForm.get('username')?.invalid">
          Min 4 characters
        </mat-error>
      </mat-form-field>

      <mat-form-field color="primary" class="register-form-field">
        <input matInput type="password" placeholder="{{ 'REGISTER.PASSWORD_PLACEHOLDER' }}" formControlName="password">
        <mat-icon matPrefix class="icon">lock</mat-icon>
        <mat-error *ngIf="registerForm.get('password')?.invalid">
          Min 4 characters
        </mat-error>
      </mat-form-field>

      <mat-form-field color="primary" class="register-form-field">
        <input matInput type="password" placeholder="{{ 'REGISTER.PASSWORD_CONFIRM_PLACEHOLDER' }}" formControlName="passwordConfirm">
        <mat-icon matPrefix class="icon">lock</mat-icon>
        <mat-error *ngIf="registerForm.get('passwordConfirm')?.invalid">
          Min 4 characters
        </mat-error>
      </mat-form-field>

      <mat-form-field color="primary" class="register-form-field">
        <input matInput type="email" placeholder="{{ 'REGISTER.EMAIL_PLACEHOLDER' }}" formControlName="email">
        <mat-icon matPrefix class="icon">mail</mat-icon>
        <mat-error *ngIf="registerForm.get('email')?.invalid">
          Enter a valid email address
        </mat-error>
      </mat-form-field>

      <mat-card-actions class="card-actions">
        <div class="flex-row flex-justify-content--center flex-align-items--center">
          <button type="button" mat-raised-button color="accent" class="btn signin-button" (click)="onSignIn()">
            {{ 'BUTTONS.LOGIN' }}
          </button>

          <button type="submit" mat-raised-button color="primary" [disabled]="registerForm.pristine || registerForm.invalid" class="btn signin-button">
            {{ 'BUTTONS.REGISTER' }}
          </button>
        </div>
      </mat-card-actions>
    </form>
  </mat-card-content>
</mat-card>
