* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

body {
  background-color: #d1c4e9;
  font-family: 'Roboto', sans-serif;
}

.mobile {
  display: none;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-justify-content--center {
  justify-content: center;
}

.flex-justify-content--space-evenly {
  justify-content: space-evenly;
}

.flex-align-items--center {
  align-items: center;
  align-content: center;
}

.mat-button.signin-button,
.mat-raised-button.signin-button {
  padding: 9px 30px;
  border-radius: 28px;
  font-size: 16px;
  height: 54px;
}

@media (min-width: 600px) {
  span.mobile {
    display: initial;
  }
}

.mobile {
  display: none;
}

.mat-button.signin-button,
.mat-raised-button.signin-button {
  padding: 9px 30px;
  border-radius: 28px;
  font-size: 16px;
  height: 54px;
}

@media (min-width: 600px) {
  span.mobile {
    display: initial;
  }
}
